#cabecalho, nav{
    min-height: 5%;
    background-color: #013E3B !important;
}
#principal{
    margin: 0px !important;
	min-height: 90%;
	padding-top: 20px !important;
	font-size: 18px !important;
    background-color: #fff !important;
}
#rodape{
    margin: 0px !important;
    padding-top: 1.5% !important;
    border-radius: 0 !important;
	min-height: 5%;
	background-color: #013E3B !important;
	color: #fff;
}
.ui.button {
    background-color: #013E3B !important;
    color: #fff;
}
.ui.header {
    color: #013E3B !important;
}
.claro{
    border-top-color: #89CAC7 !important;
}
.escuro{
    border-top-color: #05839E !important;
}
