{% extends 'base.html' %}

{% block menu %}
<a class="item" href="/">Home</a>
<a class="item" href="/cadAluno/">Cadastrar Aluno</a>
<a class="item" href="/mostrarAlunos/">Ver Alunos</a>

{% endblock %}

{% block conteudo %}

<h2 class="ui block header">
  <i class="settings icon"></i>
  <div class="content">
    Acesso administrativo
    <div class="sub header">Configurações no menu acima</div>
  </div>
</h2>


{% endblock %}