{% extends 'professor.html' %}

{% block conteudo %}
	{% if confirmacao %} 		
	<div class="ui green inverted segment">
  		<p> Ocorencia editada com sucesso  </p>
	</div>
	{% endif %}

  <h2 class="ui block header">
      <i class="pencil icon"></i> <div class="content"> Edição de Ocorrências </div>
  </h2>

	<form action="." method="POST" class="ui form">
		{% csrf_token %}

  		<section class="field">
    		<label>Aluno</label>
    		<input type="text" value="{{ ocorrencia.aluno.nome }}" disabled>
  		</section>

  		<section class="field">
    		<label>Disciplina</label>
    		<input type="text" id="disciplina" name="disciplina" value="{{ ocorrencia.disciplina }}" required/>
  		</section>

  		<section class="field">
    		<label>Descrição</label>
    		<textarea name="descricao" >{{ ocorrencia.descricao_ocorrencia }}</textarea>
  		</section>
		
		<section class="field">
    		<label>Data</label>
    		<input type="text" id="data" name="data" value="{{ ocorrencia.data }}" pattern="^[0-9]{4}[\-]{1}[0-9]{2}[\-][0-9]{2}$" title="Campo Obrigatório. Formato:'aaaa-mm-dd'" placeholder="aaaa-mm-dd" required disabled />
  		</section>

		<section class="field">
    		<label>Hora</label>
    		<input type="text" id="hora" name="hora" value="{{ ocorrencia.hora }}" placeholder="hh:mm" pattern="[0-9]{2}:[0-9]{2}$" title="Campo Obrigatório. Formato: 'hh:mm' " required disabled />
  		</section>

		<input type="submit" class="ui button" />
	</form>
{% endblock %}