<!DOCTYPE html>
<html>
	<head>
		<title>Suficiencia WEB I</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'semantic/dist/semantic.css'%}" />
		<link rel="stylesheet" href="{% static 'estilo.css'%}" />
		<script src="{% static 'jquery.js'%}"></script>
		<script src="{% static 'script.js'%}"></script>
		<script src="{% static 'semantic/dist/semantic.min.js'%}"></script>

	</head>
	<body>
		<!-- CABEÇALHO -->
		<header id="cabecalho">

    		  	<nav class="ui large top fixed inverted menu">

    			  {% block menu %}

    			  {% endblock %}

    			  {% if request.user.username %}
    			  	<a class="item float right" href="/logout/">Olá, {{ request.user.username }} | Sair</a>
    			  {% endif %}
    			</nav>

        </header>
		<!-- FIM CABEÇALHO -->

		<!-- CONTEÚDO -->

		<article class="ui grid segment center aligned" id="principal">
		  	<section id="conteudo">
		  	{% block conteudo %}

		  	{% endblock %}

		    </section>

		</article>

        <footer id="rodape" class="ui segment">
            <p class="ui grid center aligned">Ocorrências. </p>
        </footer>
	</body>
</html>
