{% extends 'adm.html' %}

{% block conteudo %}

	{% if confirmacao %}
		<section class="ui green inverted segment">
	  		<p> Aluno cadastrado com sucesso </p>
		</section>
	{% endif %}
	{% if confirmacao2 %} 
		<section class="ui green inverted segment">
			<p lingdex="67">Perfil alterado com sucesso </p>
		</section>
	{% endif %}

  {% if duploMatricula %} 
      <section class="ui red inverted segment">
        <p lingdex="67">Matricula já cadastrada </p>
      </section> 
  {% endif %}

	<h2 class="ui block header">
  		<i class="reddit icon"></i> <header class="content"> Cadastro do Aluno </header>
	</h2>
	<form action="." method="POST" class="ui form">
		{% csrf_token %}
		<section class="field">
    		<label>Nome</label>
    		<input type="text" name="nome" placeholder="Nome" pattern="^[\b a-zA-Z,ã,â,á,à,Ã,Â,Á,À,ẽ,ê,é,è,Ẽ,Ê,É,È,ĩ,î,í,ì,Ĩ,Î,Í,Ì,õ,ô,ó,ò,Õ,Ô,Ó,Ò,ũ,û,ú,ù,Ũ,Û,Ú,Ù \b]+" value="{% if nome %}{{ nome }}{% endif %}" required>
  		</section>

  		<section class="field">
    		<label>E-mail</label>
    		<input type="email" id="email" name="email" value="{% if email %}{{ email }}{% endif %}" placeholder="maria@servico.com"required/>
  		</section>

  		<section class="field">
    		<label>Telefone</label>
    		<input type="text" id="tel" name="tel" pattern="\([0-9]{2}\)[0-9]{4,6}\-[0-9]{3,4}$" placeholder="(xx)xxxx-xxxx" value="{% if tel %}{{ tel }}{% endif %}" required/>
  		</section>
		
		<section class="field">
    		<label>Turma</label>
    		<input type="text" id="turma" name="turma" value="{% if turma %}{{ turma }}{% endif %}"required/>
  		</section>

  		<section class="field">
    		<label>Curso</label>
    		<input type="text" id="curso" name="curso" value="{% if curso %}{{ curso }}{% endif %}" required/>
  		</section>

      {% if not alter %}
      <section class="field">
        <label>Matrícula</label>
        <input type="text" id="matricula" name="matricula" required/>
      </section>

		{% endif %} 


		<input class="ui button" type="submit" />
	</form>
{% endblock %}