{% extends 'base.html' %}

{% block menu %}
	<a class="item" href="/">Home</a>
	{% if request.user.username %}
		<a class="item" href="/cadOcorrencias/">Cadastrar Ocorrencias</a>
		<a class="item" href="/ocorrencias/">Ver Ocorrências</a>
		<a class="item" href="/perfilProfessor/">Perfil</a>
	{% endif %}
{% endblock %}

{% block conteudo %}
	{% if confirmacao %}
		<div class="ui green inverted segment">
	  		<p> Perfil alterado com sucesso  </p>
		</div>
	{% endif %}

	{% if confirmacao2 %}
		<div class="ui green inverted segment">
	  		<p> Professor cadastrado com sucesso  </p>
		</div>
	{% endif %}

	<h2 class="ui block header">
  		<i class="pencil icon"></i> <header class="content"> Cadastro do Professor</header>
	</h2>

	{% if duploUser %} 
		<div class="ui red message"><i class="warning circle icon"></i> <header class="content"> Login indisponível</header></div>
	{% endif %}

	<form action="." method="POST" class="ui form">
		{% csrf_token %}

		<div class="field">
    		<label>Nome</label>
    		<input type="text" name="nome" placeholder="Nome" pattern="^[\b a-zA-Z,ã,â,á,à,Ã,Â,Á,À,ẽ,ê,é,è,Ẽ,Ê,É,È,ĩ,î,í,ì,Ĩ,Î,Í,Ì,õ,ô,ó,ò,Õ,Ô,Ó,Ò,ũ,û,ú,ù,Ũ,Û,Ú,Ù \b]+" value="{% if nome %}{{ nome }}{% endif %}" required>
  		</div>
		
  		<div class="field">
    		<label>E-mail</label>
    		<input type="email" id="email" name="email" value="{% if email %}{{ email }}{% endif %}" placeholder="maria@servico.com"required/>
  		</div>

  		<div class="field">
    		<label>Login</label>
    		 <input type="text" id="login" name="login" value="{% if login %}{{ login }}{% endif %}" required/>
  		</div>

  		<div class="field">
    		<label>Senha</label>
    		<input type="password" id="password" name="senha" required/>
  		</div>

  		<div class="field">
    		<label>Repita Senha</label>
    		<input type="password" id="confirm_password" oninput="validaSenha(this)" required/>
  		</div>


		<input type="submit" class="ui button" />
	</form>

{% endblock %}