<!DOCTYPE html>
<html>
	<head>
		<title>Suficiencia WEB I</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'semantic/dist/semantic.css'%}" />
		<script src="{% static 'jquery.js'%}"></script>
		<script src="{% static 'script.js'%}"></script>
		<script src="{% static 'semantic/dist/semantic.min.js'%}"></script>
		
	</head>
	<body>
		<!-- CABEÇALHO -->
		<div class="ui inverted segment">
		  	<header id ="logo" class="ui inverted row segment">
			    <h2 class="ui center aligned icon header">
		  			<i class="ui inverted circular student icon"></i>
		  			<i style="color:#fff">TESTE</i>
				</h2>
		  	</header>
		</div>

		  	<div class="ui olive inverted menu">
			  <a class="active item">
			    Home
			  </a>
			  <a class="item">
			    Messages
			  </a>
			  <a class="item">
			    Friends
			  </a>
			</div>
		

		<!-- FIM CABEÇALHO -->

		<!-- CONTEÚDO -->

		<div class="ui grid segment">
		  	<div class="ten wide column">
		  		<h2 class="ui header">
					 <i class="group icon"></i>
					  <div class="content">
					    Formulario
					  </div>
				</h2>
		    	<form class="ui form">
				  	<div class="fields">
				    	<div class="field">
				      		<label>name</label>
				      		<input type="text" id="name" required placeholder="name">
				    	</div>
				    	<div class="field">
				      		<label>Middle name</label>
				      		<input type="text" placeholder="Middle Name">
				    	</div>
				    	<div class="field">
				      		<label>Last name</label>
				      		<input type="text" placeholder="Last Name">
				    	</div>

				    	<div class="field">
				      		<label>Selecione</label>
				      			<div class="ui dropdown">
								    <span class="text">Shopping</span>
								    <i class="dropdown icon"></i>
								    <div class="menu">
								      <div class="header">Categories</div>
								      <div class="item">
								        <i class="dropdown icon"></i>
								        <span class="text">Clothing</span>
								        <div class="menu">
								          <div class="header">Mens</div>
								          <div class="item">Shirts</div>
								          <div class="item">Pants</div>
								          <div class="item">Jeans</div>
								          <div class="item">Shoes</div>
								          <div class="divider"></div>
								          <div class="header">Womens</div>
								          <div class="item">Dresses</div>
								          <div class="item">Shoes</div>
								          <div class="item">Bags</div>
								        </div>
								      </div>
								      <div class="item">Home Goods</div>
								      <div class="item">Bedroom</div>
								      <div class="divider"></div>
								      <div class="header">Order</div>
								      <div class="item">Status</div>
								      <div class="item">Cancellations</div>
								    </div>
								</div>
				    	</div>

				  	</div>
				  	<input type="submit" class="ui submit button">
				</form>
		    </div>
		    <aside class="six wide column grey">
		    	<a class="ui violet ribbon label">Observacoes</a>
		    	<h2 class="ui center inverted aligned icon header">
		    		<i class="group icon"></i>
		    	</h2>
		    </aside>
		  
		</div>


	</body>
</html>