{% extends 'base.html' %}

{% block menu %}
	<a class="item" href="/cadprofessor/">Cadastrar Professor</a>
{% endblock %}
{% block conteudo %}

        <h2 class="ui block header">
        <i class="student icon"></i>
        <div class="content">
         Ocorrências
        <div class="sub header">Prencha as informações para acessar o sistema</div>
      </div>
    </h2>

    <div class="ui horizontal divider"></div>

	<form action="." method="post" class="ui form">
		{% csrf_token %}
		<div class="field">
    		<label>Login</label>
    		{{ form.username }}
  		</div>

  		<div class="field">
    		<label>Senha</label>
    		{{ form.password }}
  		</div>


		{% if form.errors %}

			<div class="ui red message">Login ou senha incorretos</div>
		{% endif %}

		<input type="submit" class="ui button" value="Entrar"/>

	</form>
{% endblock %}
