{% extends 'adm.html' %}

{% block conteudo %}

	<h2 class="ui block header">
  		<i class="student icon"></i> <div class="content"> Alunos </div>
  		<footer class="sub header">Clique em detalhes para ver os dados do aluno.</footer>
	</h2>

	<section class="ui middle large aligned divided list segment stacked">
		<header class="item"></header>
		{% for aluno in alunos %}
			<article class="item" ><div class="content">{{ aluno.nome }}</div><a class="right floated content" href='/perfilAluno/{{aluno.id}}/'>detalhe</a></article>
		{% endfor %}
	<section>
{% endblock %}