{% extends 'professor.html' %}

{% block conteudo %}

	<h2 class="ui block header">
	  <i class="edit icon"></i>
	  <div class="content">
	    Ocorrências
	    <div class="sub header">Clique em detalhes para ver mais.</div>
	  </div>
	</h2>

	<section class="ui middle large aligned divided list segment stacked">
		<header class="item"></header>
		{% for ocorrencia in ocorrencias %}
			<article class="item" ><div class="content">{{ ocorrencia.disciplina }} - {{ ocorrencia.data }}</div><a class="right floated content" href='/ocorrenciaDetalhe/{{ocorrencia.id}}/'>detalhe</a></article>
		{% endfor %}
	<section>
{% endblock %}