{% extends 'professor.html' %}

{% block conteudo %}
	<h2 class="ui block header">
	  <i class="info icon"></i>
	  <header class="content">
	    Detalhe Ocorrência
	  </header>

	</h2>

	<article class="ui segments">
		<section class="ui segment">
			<p lingdex="17">Disciplina: {{ ocorrencia.disciplina }}</p>
		</section>

		<section class="ui claro segment">
			<p lingdex="18">Aluno: {{ ocorrencia.aluno.nome }}</p>
		</section>

		<section class="ui escuro segment">
			<p lingdex="19">Data: {{ ocorrencia.data }} </p>
		</section>

		<section class="ui claro segment">
			<p lingdex="20">Hora: {{ ocorrencia.hora }}</p>
		</section>

		<section class="ui escuro segment">
			<p lingdex="21">Descrição: {{ ocorrencia.descricao_ocorrencia }}</p>
		</section>

		<section class="ui segment">
			<a href="/alterOcorrencia/{{ ocorrencia.id }}/"><input class="fluid ui button" type="button" value="Editar"/></a>
		</section>
	</article>
{% endblock %}
